.card {
    background-color:rgba(30,30,30,0.4);
}

.card .card-body{
    background-color:rgba(30,30,30,0.4);
}

.boardNumber.selected{
    background: green;
    color: white;
}
.boardNumber.current{
   
    background: red;
    color: white;
}

.boardNumber{
    width: 10%;
    text-align: center;
   
}
h1{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 1%;
    font-size: 28px;
}
a{
    font-size: 20px;
}
.boardRow{
    margin-bottom: 5px;
}

button {
    margin-top: 2%;
    margin-left: 43%;
    
}
.gameFinish{
    margin-top: 10%;
    margin-left: 30%;
    color: rgb(11, 243, 30);
    
}