
<div class="login">
  <form [formGroup]="loginForm" class="custom-form" (ngSubmit)="onLogin(loginForm.value)">
    <h1>Login</h1>
   
    <input type="email" formControlName = "email" name="email" placeholder="Email" required="required"/>
    
    <input type="password" formControlName ="passwordHash" name="passwordHash" placeholder="Password" required="required"
    />
    <button type="submit" value="Login">Login</button>
    
  </form>
</div>


