.counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.counter{
    z-index: 100;
    flex-direction: column;
}

.form-control{
    width: 100%;
    border: none;
    background: #dde1e7;
    border-radius: 15px;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.5), 3px 3px 5px rgba(94, 104, 121, 0.3);
}
.nud{
    margin-top: 20px;
}
.btn{
    background-color: rgb(12, 10, 14);
    width: 100%;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 5px 10px 0px;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.7), 3px 3px 5px rgba(94, 104, 121, 0.5);
}
.btn-main{
    background-color: rgb(255, 255, 255);
}
.btn-main:hover{
    background-color: #12eb2f;
}
.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    color: seagreen;
}
h1{
    color: rgb(14, 247, 118);
    font-weight: bold;
    letter-spacing: 10px;
    margin: 0px;
    padding: 0px;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background: rgba(30, 30, 30, 0.6);
    text-align: center;
    overflow:auto;
    width: 100%;
    max-height: 390px;

}
.cards-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cards-container::-webkit-scrollbar:vertical {
    width:10px;
}

.cards-container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.cards-container::-webkit-scrollbar:horizontal {
    height: 10px;
}

.cards-container::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.cards-container::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.card{
    width: 330px;
    margin: 20px;
    border: none;
    background: #343435;
    border-radius: 15px;
    box-shadow: -3px -3px 7px rgba(21, 231, 101, 0.5), 3px 3px 5px rgba(94, 104, 121, 0.3);
}
.card:hover{
    box-shadow:  7px 7px 14px #91f3ca, 
             -7px -7px 14px #89f7c0;
}
.label-info{
    margin: 3px; 
    padding: 0px;
    text-align: center;
    font-size: 14px;
    color: black;
    font-weight: normal;
}
.numbers{
    display: inline-block; 
    margin: 0px;
    padding: 0px;
    
}
.normal{
    margin: 8px;
    padding: 8px;
    font-weight: bold;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.selected{
    margin: 8px;
    padding: 8px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(11, 168, 24);
    color: rgb(248, 248, 248);
    font-size: 20px;
}
.card-xd{
    color: rgb(11, 168, 24);
    background: #343435;
    background-size: auto;
    border-radius: 6%;
    box-shadow: teal;
}
.gameFinish{
    margin-top: 10%;
    margin-left: 25%;
    color: rgb(11, 243, 30);
    
}
.close{
    color: tomato;
    margin-top: 2%;
    margin-left: 25%;
    font-size: x-large;
    border-radius: 20%;
}
.close:hover{
    color: teal;
}


