<div class="container">    
  <div class="col-md-6 col-md-offset-3 loginBox">    
      Welcome, {{id}}    
      <div class="logout">
        <div class="icon-logout">
            <span class="input"><i class="fas fa-sign-out-alt"></i></span>
        </div>
        <a href="javascript:void(0);" id="out" (click)="logout()">Logout</a>
     </div>
          
  </div>    
</div>   

<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item> <!--1-->
    <div class="Create">
  
      <form [formGroup]="boardForm" class="custom-form" (ngSubmit)="generateBoards(boardForm.value)">
        <h1>Create your bingo board</h1>
       
        <input type="number" formControlName = "id" name="Id board" placeholder="Id board" required="required"/>
        
        <input type="text" formControlName ="nameBoard" name="Name board" placeholder="Name board" required="required"
        />
        <button type="submit" value="Create">Create</button>
        
      </form>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item><!--2-->
    <h3 id="tableLabel" >Boards Created</h3>
    <p *ngIf="!boards"><em>Loading...</em></p>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
     <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="boards">
     
      <thead>
       <tr>
         <th (click)="filter(0)">ID Boards </th>
         <th (click)="filter(1)">Name Boards</th>
         <th>Url of Boards</th>
         <th>Url of Admin Boards</th>
         <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let board of boards">
           <td>{{ board.id }}</td>
           <td>{{ board.nameBoard }}</td>
      
           <td>
              <a type="button" href="{{ board.url }}" class="btn btn-primary btn-sm"> {{ board.url }} </a>
            </td>

           <td>
              <a type="button" href="{{ board.adminUrl }}" class="btn btn-primary btn-sm">{{ board.adminUrl }}</a>
           </td>

            <td>
             <button class="btn btn-danger" (click)="deleteBoard(board)">Delete</button>
           </td>
      
        </tr>
      </tbody>
     </table>
    </div>
  </mdb-carousel-item>
</mdb-carousel>


